Repository qiboteam/qibo, pull requests merged in 2024-09, with the labels that each got.

#1444 Fixes related to MPL drawer
  doc/source/code-examples/examples.rst
  src/qibo/ui/mpldrawer.py
Labels: bug

#1441 Fix math rendering in some docsstrings of the `quantum_info` module
  doc/source/api-reference/qibo.rst
  src/qibo/gates/channels.py
  src/qibo/quantum_info/basis.py
  src/qibo/quantum_info/entropies.py
  src/qibo/quantum_info/superoperator_transformations.py
Labels: documentation, quantum_info module

#1442 Fix doc warnings
  doc/source/api-reference/qibo.rst
  src/qibo/backends/abstract.py
  src/qibo/backends/clifford.py
  src/qibo/gates/measurements.py
  src/qibo/models/error_mitigation.py
  src/qibo/quantum_info/clifford.py
  src/qibo/result.py
Labels: documentation

#1446 Fix bug in `quantum_info._reshuffling`
  src/qibo/quantum_info/superoperator_transformations.py
Labels: bug, quantum_info module

#1419 SABRE + CircuitMap Optimization
  src/qibo/transpiler/placer.py
  src/qibo/transpiler/router.py
  tests/test_transpiler_router.py
Labels: transpiler

#1338 Hyperoptimizing with Optuna
  examples/dbi/dbi_tutorial_basic_intro.ipynb
  poetry.lock
  pyproject.toml
  src/qibo/models/dbi/double_bracket.py
  src/qibo/models/dbi/utils_dbr_strategies.py
  src/qibo/models/dbi/utils_scheduling.py
Labels: dependencies

#1382 Expectation values as native backend arrays
  src/qibo/backends/pytorch.py
  src/qibo/hamiltonians/hamiltonians.py
  src/qibo/models/error_mitigation.py
  tests/test_hamiltonians_symbolic.py
  tests/test_models_error_mitigation.py
Labels: qiboml

#1434 Allow `Circuit.draw` to display string directly
  examples/qfiae/qfiae_demo.ipynb
  src/qibo/models/circuit.py
  tests/test_measurements.py
  tests/test_models_circuit.py
Labels: enhancement

#1438 Matplotlib drawer: fix bug #1437 and add tests
  examples/circuit-draw-mpl/qibo-draw-circuit-matplotlib.ipynb
  src/qibo/ui/mpldrawer.py
  src/qibo/ui/symbols.json
  tests/test_ui_array_images/test_align_gate.npy
  tests/test_ui_array_images/test_bigger_circuit_gates_3.npy
  tests/test_ui_array_images/test_bigger_circuit_gates_4.npy
  tests/test_ui_array_images/test_bigger_circuit_gates_5.npy
  tests/test_ui_array_images/test_bigger_circuit_gates_6.npy
  tests/test_ui_array_images/test_circuit_entangled_entropy_false.npy
  tests/test_ui_array_images/test_circuit_entangled_entropy_true.npy
  tests/test_ui_array_images/test_circuit_fused_gates_false.npy
  tests/test_ui_array_images/test_circuit_fused_gates_true.npy
  tests/test_ui_array_images/test_circuit_measure_1.npy
  tests/test_ui_array_images/test_circuit_measure_2.npy
  tests/test_ui_array_images/test_circuit_measure_3.npy
  tests/test_ui_array_images/test_complex_circuit_fig1_false.npy
  tests/test_ui_array_images/test_complex_circuit_fig1_true.npy
  tests/test_ui_array_images/test_complex_circuit_fig2_false.npy
  tests/test_ui_array_images/test_complex_circuit_fig2_true.npy
  tests/test_ui_array_images/test_empty_circuit.npy
  tests/test_ui_array_images/test_fuse_cluster.npy
  tests/test_ui_array_images/test_fused_gates.npy
  tests/test_ui_array_images/test_layered_circuit.npy
  tests/test_ui_array_images/test_plot_circuit_2.npy
  tests/test_ui_array_images/test_plot_circuit_3.npy
  tests/test_ui_array_images/test_plot_circuit_internal_ax1.npy
  tests/test_ui_array_images/test_plot_circuit_internal_ax2.npy
  tests/test_ui_mpldrawer.py
Labels: run-workflow

#1448 Add missing `hermitian` argument to `backend.calculate_eigenvalues` and `backend.calculate_eigenvectors` methods
  src/qibo/backends/abstract.py
  src/qibo/backends/numpy.py
  src/qibo/backends/pytorch.py
  src/qibo/backends/tensorflow.py
  src/qibo/quantum_info/entropies.py
  src/qibo/quantum_info/metrics.py
Labels: bug, quantum_info module

#1455 Add `mutual_information` and `classical_mutual_information` to `quantum_info.entropies`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/entropies.py
  tests/test_quantum_info_entropies.py
Labels: documentation, enhancement, quantum_info module

#1457 Bugfix to matrix unpacking in `CliffordBackend`
  src/qibo/backends/_clifford_operations.py
  src/qibo/quantum_info/clifford.py
Labels: bug, quantum_info module

#1452 Add `total_variation_distance` to `quantum_info.utils`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/utils.py
  tests/test_quantum_info_utils.py
Labels: documentation, enhancement, quantum_info module

#1454 Add `matrix_power` to `quantum_info.linalg_operations`
  doc/source/api-reference/qibo.rst
  poetry.lock
  src/qibo/backends/abstract.py
  src/qibo/backends/numpy.py
  src/qibo/backends/pytorch.py
  src/qibo/quantum_info/entropies.py
  src/qibo/quantum_info/linalg_operations.py
  tests/test_quantum_info_entropies.py
  tests/test_quantum_info_operations.py
Labels: documentation, enhancement, quantum_info module

#1461 Fix docstring of `quantum_info.utils.total_variation_distance`
  src/qibo/quantum_info/utils.py
Labels: documentation, quantum_info module

#1464 Remove deprecation warning, remove old `draw`, and rename `display` as `draw` in `Circuit` class
  doc/source/code-examples/advancedexamples.rst
  doc/source/code-examples/examples.rst
  examples/adiabatic_qml/adiabatic-qml.ipynb
  examples/anomaly_detection/test.py
  examples/anomaly_detection/train.py
  examples/circuit-draw-mpl/qibo-draw-circuit-matplotlib.ipynb
  examples/qcnn_classifier/qcnn_demo.ipynb
  examples/qfiae/qfiae_demo.ipynb
  src/qibo/gates/abstract.py
  src/qibo/gates/measurements.py
  src/qibo/models/circuit.py
  tests/test_measurements.py
  tests/test_models_circuit.py
  tests/test_models_circuit_fuse.py
  tests/test_noise.py
Labels: enhancement
