Repository qiboteam/qibo, pull requests merged in 2024-10, with the labels that each got.

#1463 Fix definition of `fidelity` in `quantum_info.metrics`
  src/qibo/quantum_info/metrics.py
  tests/test_quantum_info_metrics.py
Labels: bug, quantum_info module

#1469 Add `classical_tsallis_relative_entropy` to `quantum_info.entropies`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/entropies.py
  tests/test_quantum_info_entropies.py
Labels: documentation, enhancement, quantum_info module

#1451 Extend `meyer_wallach_entanglement` to `ndarrays`
  src/qibo/quantum_info/entanglement.py
  src/qibo/quantum_info/linalg_operations.py
  tests/test_quantum_info_entanglement.py
Labels: enhancement, quantum_info module

#1462 Add `partial_transpose` to `quantum_info.linalg_operations`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/linalg_operations.py
  tests/test_quantum_info_operations.py
Labels: documentation, enhancement, quantum_info module

#1473 Add `calculate_singular_value_decompositon` as a backend method
  doc/source/api-reference/qibo.rst
  src/qibo/backends/abstract.py
  src/qibo/backends/numpy.py
  src/qibo/backends/pytorch.py
  src/qibo/backends/tensorflow.py
  src/qibo/quantum_info/linalg_operations.py
  src/qibo/quantum_info/superoperator_transformations.py
  tests/test_quantum_info_operations.py
  tests/test_quantum_info_superoperator_transformations.py
Labels: documentation, enhancement

#1456 Add `negativity` to `quantum_info.entanglement`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/entanglement.py
  tests/test_quantum_info_entanglement.py
Labels: documentation, enhancement, quantum_info module

#1459 Optimizations for the `qibo.quantum_info.basis.pauli_basis` and `vectorization` function
  src/qibo/quantum_info/basis.py
  src/qibo/quantum_info/superoperator_transformations.py
  tests/test_quantum_info_superoperator_transformations.py
Labels: documentation, enhancement, quantum_info module

#1472 Fix bug in `quantum_info.linalg_operations.matrix_power` for negative powers of singular matrices
  src/qibo/backends/abstract.py
  src/qibo/backends/numpy.py
  src/qibo/backends/pytorch.py
  src/qibo/backends/tensorflow.py
  src/qibo/quantum_info/entanglement.py
  src/qibo/quantum_info/entropies.py
  src/qibo/quantum_info/linalg_operations.py
  tests/test_quantum_info_entropies.py
  tests/test_quantum_info_operations.py
Labels: bug, quantum_info module

#1450 Fix `pytorch` gradients
  doc/source/code-examples/advancedexamples.rst
  src/qibo/backends/npmatrices.py
  src/qibo/backends/numpy.py
  src/qibo/backends/pytorch.py
  src/qibo/gates/channels.py
  src/qibo/gates/gates.py
  src/qibo/models/circuit.py
  src/qibo/models/error_mitigation.py
  src/qibo/transpiler/decompositions.py
  src/qibo/transpiler/unitary_decompositions.py
  src/qibo/transpiler/unroller.py
  tests/test_backends.py
  tests/test_backends_torch_gradients.py
  tests/test_cirq.py
  tests/test_gates_gates.py
  tests/test_models_circuit.py
  tests/test_models_circuit_parametrized.py
  tests/test_models_encodings.py
  tests/test_models_hep.py
  tests/test_models_qft.py
  tests/test_models_variational.py
  tests/test_noise.py
  tests/test_quantum_info_entanglement.py
  tests/test_tomography_gate_set_tomography.py
  tests/test_transpiler_decompositions.py
  tests/test_transpiler_unitary_decompositions.py
Labels: bug

#1476 Add `hilbert_schmidt_inner_product` to `quantum_info.metrics`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/entropies.py
  src/qibo/quantum_info/metrics.py
  src/qibo/quantum_info/superoperator_transformations.py
Labels: documentation, enhancement, quantum_info module

#1487 Add `quantum_fisher_information_matrix` to `quantum_info.metrics`
  doc/source/api-reference/qibo.rst
  src/qibo/backends/abstract.py
  src/qibo/backends/numpy.py
  src/qibo/backends/pytorch.py
  src/qibo/backends/tensorflow.py
  src/qibo/quantum_info/metrics.py
  tests/test_quantum_info_metrics.py
Labels: documentation, enhancement, quantum_info module

#1471 Add (state) Schmidt decomposition to `quantum_info.linalg_operations`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/linalg_operations.py
  src/qibo/transpiler/unitary_decompositions.py
  tests/test_quantum_info_operations.py
Labels: documentation, enhancement, quantum_info module

#1479 Migrating TensorFlowBackend to Qiboml
  doc/source/code-examples/advancedexamples.rst
  examples/anomaly_detection/test.py
  examples/anomaly_detection/train.py
  examples/benchmarks/main.py
  examples/qclustering/minimization.py
  examples/reuploading_classifier/qlassifier.py
  poetry.lock
  pyproject.toml
  src/qibo/backends/__init__.py
  src/qibo/backends/tensorflow.py
  src/qibo/models/error_mitigation.py
  src/qibo/optimizers.py
  src/qibo/quantum_info/basis.py
  src/qibo/quantum_info/random_ensembles.py
  tests/conftest.py
  tests/test_backends.py
  tests/test_backends_clifford.py
  tests/test_backends_torch_gradients.py
  tests/test_hamiltonians.py
  tests/test_measurements_collapse.py
  tests/test_models_circuit_backpropagation.py
  tests/test_models_circuit_parametrized.py
  tests/test_models_error_mitigation.py
  tests/test_models_evolution.py
  tests/test_models_variational.py
  tests/test_quantum_info_basis.py
  tests/test_quantum_info_clifford.py
  tests/test_quantum_info_metrics.py
  tests/utils.py
Labels: qiboml, refactor
