Repository qiboteam/qibo, pull requests merged in 2024-02, with the labels that each got.

#1165 Add `comp_basis_encoder` to `models.encodings`
  doc/source/api-reference/qibo.rst
  src/qibo/models/encodings.py
  tests/test_models_encodings.py
Labels: documentation, enhancement

#1137 Creation of `quantum_info.quantum_networks` submodule and `QuantumNetwork` class
  doc/source/api-reference/qibo.rst
  src/qibo/gates/abstract.py
  src/qibo/quantum_info/__init__.py
  src/qibo/quantum_info/quantum_networks.py
  tests/test_quantum_info_quantum_networks.py
Labels: documentation, enhancement, quantum_info module

#1171 Refactor seed generation in `quantum_info.random_ensembles`
  src/qibo/quantum_info/random_ensembles.py
  tests/test_quantum_info_random.py
Labels: enhancement, quantum_info module

#1175 Add `quantum_info.utils.total_variation_distance` and improve documentation of `quantum_info.utils`
  doc/source/api-reference/qibo.rst
  src/qibo/quantum_info/utils.py
  tests/test_quantum_info_utils.py
Labels: documentation, enhancement, quantum_info module

#1183 Noise Channels with the `CliffordSimulator`
  src/qibo/backends/clifford.py
  src/qibo/gates/channels.py
  src/qibo/gates/special.py
  tests/test_backends_clifford.py
Labels: documentation, enhancement, quantum_info module

#1187 GPU test fixing for error mitigation
  src/qibo/models/error_mitigation.py
Labels: bug

#1191 Add `SiSWAPDG` gate
  src/qibo/backends/__init__.py
  src/qibo/backends/npmatrices.py
  src/qibo/gates/gates.py
  tests/test_gates_gates.py
Labels: enhancement

#1156 Split star transpiler into placer and router pass
  src/qibo/transpiler/__init__.py
  src/qibo/transpiler/pipeline.py
  src/qibo/transpiler/placer.py
  src/qibo/transpiler/router.py
  src/qibo/transpiler/star_connectivity.py
  tests/test_transpiler_placer.py
  tests/test_transpiler_router.py
  tests/test_transpiler_star_connectivity.py
Labels: transpiler

#1190 Add `phase_encoder` to `models.encodings` and improve documentation of unary encoder(s)
  doc/source/_static/comp_basis_encoder.png
  doc/source/_static/phase_encoder.png
  doc/source/_static/unary_encoder_ladder.png
  doc/source/_static/unary_encoder_tree.png
  doc/source/api-reference/qibo.rst
  src/qibo/models/encodings.py
  tests/test_models_encodings.py
Labels: documentation, enhancement

#1188 Move `gates.Gate.decompose` to `transpiler.decompositions`
  src/qibo/gates/gates.py
  src/qibo/transpiler/decompositions.py
Labels: transpiler

#1195 Add link to source code in the documentation
  doc/source/conf.py
Labels: documentation

#1192 Improving documentation for `QuantumNetwork` class + bug fix
  doc/source/api-reference/qibo.rst
  doc/source/code-examples/tutorials/quantum_networks/README.md
  src/qibo/quantum_info/quantum_networks.py
  tests/test_quantum_info_quantum_networks.py
Labels: documentation, quantum_info module

#1172 Split `quantum_info.metrics` into `quantum_info.metric`, `quantum_info.entanglement`, and `quantum_info.entropies`
  doc/source/api-reference/qibo.rst
  src/qibo/callbacks.py
  src/qibo/quantum_info/__init__.py
  src/qibo/quantum_info/entanglement.py
  src/qibo/quantum_info/entropies.py
  src/qibo/quantum_info/metrics.py
  src/qibo/quantum_info/utils.py
  tests/test_quantum_info_entanglement.py
  tests/test_quantum_info_entropies.py
  tests/test_quantum_info_metrics.py
  tests/test_quantum_info_utils.py
Labels: enhancement, quantum_info module

#1199 Updating badges in README
  .github/workflows/publish.yml
  README.md
Labels: documentation

#1208 Addition of parametrized gates missing in `TensorflowMatrices`
  src/qibo/backends/tensorflow.py
Labels: enhancement

#1204 Minor fix to `quantum_info.random_ensembles.random_clifford` docstring
  src/qibo/quantum_info/random_ensembles.py
Labels: documentation, quantum_info module

#1201 Update backends and ecosystem diagrams in the docs
  doc/source/getting-started/backends.svg
  doc/source/qibo_ecosystem.svg
Labels: documentation

#1216 Increase coverage
  tests/test_quantum_info_clifford.py
  tests/test_quantum_info_quantum_networks.py
Labels: quantum_info module

#1197 Rename qubits of transpiled circuit based on connectivity
  src/qibo/transpiler/blocks.py
  src/qibo/transpiler/router.py
  src/qibo/transpiler/unroller.py
  tests/test_transpiler_pipeline.py
  tests/test_transpiler_router.py
Labels: transpiler

#1223 Small fix to math rendering in docs
  src/qibo/quantum_info/random_ensembles.py
Labels: documentation

#1217 Backend-agnostic matrix definitions
  poetry.lock
  src/qibo/backends/npmatrices.py
Labels: enhancement

#1218 Move `hellinger_shot_error` from `noise_model` to `quantum_info.utils`
  doc/source/api-reference/qibo.rst
  src/qibo/noise_model.py
  src/qibo/quantum_info/utils.py
  tests/test_quantum_info_utils.py
Labels: quantum_info module

#1150 Customizing Clifford operations for `qibojit` engines
  doc/source/api-reference/qibo.rst
  poetry.lock
  pyproject.toml
  src/qibo/backends/__init__.py
  src/qibo/backends/_clifford_operations.py
  src/qibo/backends/clifford.py
  src/qibo/gates/abstract.py
  src/qibo/quantum_info/_clifford_utils.py
  src/qibo/quantum_info/clifford.py
  tests/test_backends_clifford.py
  tests/test_quantum_info_clifford.py
Labels: enhancement, quantum_info module

#1236 Fix `cuquantum` test bug in `test_backends_clifford.py`
  tests/test_backends_clifford.py
Labels: bug, quantum_info module
